/* Estilos base */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #4a4e69;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.task-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 400px; 
    margin-bottom: 20px; 
}

input[type="text"] {
    flex: 1;
    padding: 15px;
    border: 2px solid #c9ada7;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 1em;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    outline: none;
    border-color: #9a8c98;
}

button {
    display: flex;              
    justify-content: center; 
    align-items: center;        
    padding: 10px;             
    background-color: #9a8c98;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 50px;               
    height: 50px;             
}

button img.icon {
    width: 35px;           
    height: 35px;
}



button:hover {
    background-color: #4a4e69;
}

#taskList {
    list-style-type: none;
    padding: 0;
    width: 400px;
    margin-top: 20px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

li:hover {
    transform: translateY(-5px);
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.5);
}

button.delete {
    background-color: #e07a5f;
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 0.8em;
}

button.delete:hover {
    background-color: #b83b5e;
}

.completed {
    text-decoration: line-through;
    color: #9a8c98;
}
